@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background: #ececec;
    color: #515151;
}

main {
    width: 1000px;
    margin: 0 auto;
    line-height: 2em;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 4.5em;
    font-weight: normal;
    margin: 80px 0;
    color: #47475a;
}

dt {
    float: left;
}

dd {
    float: left;
    width: 800px;
    height: 350px;
    overflow: hidden;
    margin: 0;
}

dt a {
    text-align-last: center;
    display: block;
    padding: 20px 0;
    width: 50px;
    height: 350px;
    color: #fff;
    text-decoration: none;
}

dt a:hover {
    background: #da7354;
}

dd p {
    padding: 20px;
    width: 740px;
}

/* #accの背景食 */
dt:nth-of-type(1),
dd:nth-of-type(1) {
    background: #47475a;
}
/* #accの背景食 */
dt:nth-of-type(2),
dd:nth-of-type(2) {
    background: #55556b;
}
/* #accの背景食 */
dt:nth-of-type(3),
dd:nth-of-type(3) {
    background: #636375;
}
/* #accの背景食 */
dt:nth-of-type(4),
dd:nth-of-type(4) {
    background: #767686;
}